.Nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.Nav__item {
  margin: 0.5em 0;
}

.Nav__link {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 125ms ease-in;
}

span.Nav__link {
  opacity: 0.8;
}

a.Nav__link:hover,
a.Nav__link:focus {
  border-bottom-color: currentcolor;
}
