.Portrait {
  -webkit-filter: grayscale(0.8);
  -ms-filter: grayscale(0.8);
  filter: grayscale(0.8);
  transition: 1000ms ease-out;
}

.Portrait:hover {
  -webkit-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
