.Slider {
  max-height: 80vh;
  height: 500px;
}

.Slider__slide {
  transition: opacity 250ms ease-out;
  height: 100%;
}

.Slider__slide:not(.is-selected) {
  opacity: 0;
}

.Slider__image {
  height: 100%;
}
