---
layout: default
title: Biography
permalink: /biography/
---

{% assign line_break = "
" %}

<div class="layout">
  <div class="layout__col layout__col--1/3">
    {% assign portrait = site.data[page.lang].biography.image.src %}
    {% assign caption = site.data[page.lang].biography.image.caption %}
    {% include components/figure.html
      class = "Portrait"
      src = portrait
      alt = "Alix Lucas"
      caption = caption
    %}
  </div>

  <div class="layout__col layout__col--2/3">
    {% assign title = site.data[page.lang].biography.title %}
    {% include components/title.html
      level = 1
      text = title
    %}

    {% assign content = site.data[page.lang].biography.content %}
    {% assign paragraphs = content | split: line_break %}

    {% for paragraph in paragraphs %}
      {% include components/paragraph.html
        text = paragraph
      %}
    {% endfor %}

    {% include components/divider.html %}
  </div>
</div>
