{% assign class = "Header " | append: include.class %}

<header role="banner" class="{{ class }}">
  <a href="/" class="Header__name">Alix Lucas</a>
  <button class="Header__toggle" type="button" id="nav-toggle">
    <svg viewBox="0 0 10 10" class="Header__icon">
      <path d="m1 7h8v2h-8zm0-3h8v2h-8zm0-3h8v2h-8z" />
    </svg>
  </button>
  <nav class="Nav Header__nav" id="nav">
    <ul class="Nav__list">
      <li class="Nav__item">
        <a
          href="{{ site.data[page.lang].ui.nav.work.path }}#selected-work"
          class="Nav__link"
        >
          {{ site.data[page.lang].ui.nav.work.text }}
        </a>
      </li>
      <li class="Nav__item">
        <a
          href="{{ site.data[page.lang].ui.nav.biography.path }}"
          class="Nav__link"
        >
          {{ site.data[page.lang].ui.nav.biography.text }}
        </a>
      </li>
      <li class="Nav__item">
        <a
          href="{{ site.data[page.lang].ui.nav.statement.path }}"
          class="Nav__link"
        >
          {{ site.data[page.lang].ui.nav.statement.text }}
        </a>
      </li>
      <li class="Nav__item">
        <a
          href="{{ site.data[page.lang].ui.nav.resume.path }}"
          class="Nav__link"
        >
          {{ site.data[page.lang].ui.nav.resume.text }}
        </a>
      </li>
      <li class="Nav__item">
        <a
          href="{{ site.data[page.lang].ui.nav.contact.path }}"
          class="Nav__link"
        >
          {{ site.data[page.lang].ui.nav.contact.text }}
        </a>
      </li>
      <li class="Nav__item">
        <a
          href="https://www.instagram.com/whyalix/"
          target="_blank"
          rel="noopener noreferrer"
          class="Nav__link"
        >
          Instagram
        </a>
      </li>
    </ul>
  </nav>
</header>
