{% assign class = "Header " | append: include.class %}

<header role="banner" class="{{ class }}">
  <a href="/" class="Header__name">Alix Lucas</a>
  <button class="Header__toggle" type="button" id="nav-toggle">
    <svg viewBox="0 0 10 10" class="Header__icon">
      <path d="m1 7h8v2h-8zm0-3h8v2h-8zm0-3h8v2h-8z" />
    </svg>
  </button>
  <nav class="Nav Header__nav" id="nav">
    <ul class="Nav__list">
      <li class="Nav__item">
        <a href="/#selected-work" class="Nav__link">Selected work</a>
      </li>
      <li class="Nav__item">
        <a href="/biography" class="Nav__link">Biography</a>
      </li>
      <li class="Nav__item">
        <a href="/statement" class="Nav__link">Artist statement</a>
      </li>
      <li class="Nav__item">
        <a href="/resume" class="Nav__link">Resume</a>
      </li>
      <li class="Nav__item">
        <a href="/contact" class="Nav__link">Contact</a>
      </li>
      <li class="Nav__item">
        <a href="/fr" class="Nav__link" lang="fr" hreflang="fr">Version
          Française</a>
      </li>
    </ul>
  </nav>
</header>
