{% assign class = "Header " | append: include.class %}

<header role="banner" class="{{ class }}">
  <a href="/" class="Header__name">Alix Lucas</a>
  <button class="Header__toggle" type="button" id="nav-toggle">
    <svg viewBox="0 0 10 10" class="Header__icon">
     <path d="m1 7h8v2h-8zm0-3h8v2h-8zm0-3h8v2h-8z"/>
    </svg>
  </button>
  <nav class="Nav Header__nav" id="nav">
    <a href="/" class="Nav__link">Portfolio</a>
    <a href="/biography" class="Nav__link">Biography</a>
    <a href="/resume" class="Nav__link">Resume</a>
    <a href="mailto:whyalix@gmail.com" class="Nav__link">Email me</a>
  </nav>
</header>
