{% assign class = "Slider " | append: include.class %}
{% assign images = include.images %}
{% assign count = images | size | times: 1 %}
{% if count > 2 %}
  {% assign wrapAround = true %}
{% else %}
  {% assign wrapAround = false %}
{% endif %}

<div class="{{ class }}" data-flickity='{
  "cellSelector": ".Slider__slide",
  "wrapAround": {{ wrapAround }},
  "pageDots": false,
  "setGallerySize": false,
  "imagesLoaded": true
}'>
{% for image in images %}
  {% assign src = image.src %}
  {% assign alt = image.alt %}

  <div class="Slider__slide">
    <img src="{{ src }}" alt="{{ alt }}" class="Slider__image" />
  </div>
{% endfor %}
</div>
